main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.wallpaper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.backgroundWallpaper {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.firstGrid {
  width: 100%;
  /* height: auto; */
  display: flex;
  /* flex-direction: column; */
  align-items: center; 
  justify-content: center;
  /* background-color: rgb(95, 216, 79); */
  padding: 20px;
}

.secondGrid {
  width: 100%;
  padding: 20px;
  background-color: rgb(93, 79, 216);
}

.productSectionB {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 20px; */
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.landscape {
  border: 1px solid red;
  width: 97%;
  height: auto;
  /* background-color: #7a1212; */
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px 20px;
}

/* .productsGrid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid red;
  width: 310px;
  height: 420px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
} */

.deskTop {
  width: 270px;
  height: 300px;
  object-fit: cover;
}

.gadgetSmartphone {
  /* border: 1px solid green; */
  width: 270px;
  height: 170px;
}

.smart1 {
  width: 270px;
  height: 170px;
  object-fit: cover;
}

.gadgetSmartphoneName {
  /* border: 1px solid goldenrod; */
  width: 270px;
  height: 30px;
}

.gadgetSmartGrid {
  margin-top: 20px;
  /* border: 1px solid green; */
  width: 270px;
  height: 75px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5px;
}

.gadgetSmartitems {
  /* border: 1px solid blue; */
  width: 86px;
  height: 75px;
  overflow: hidden;
}

.gadgetTrio {
  width: 90px;
  height: 75px;
  object-fit: cover;
}

.gadgetSmartitemsName {
  /* border: 1px solid gold; */
  width: 270px;
  height: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5px;
}

.gadgetSmartitemsName div {
  /* border: 1px solid coral; */
  width: 86px;
  height: 30px;
}


.quad {
  width: 130px;
  height: 115px;
  object-fit: cover;
  border: 1px solid red;
}




/* ladscape after first grid */



.headlineA {
  /* border: 1px solid blue; */
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  margin: 10px 0px 0px;
}

.headlineA span {
  color: #0F1111;
  font-size: 21px;
}

.landA {
  /* border: 1px solid green; */
  height: 210px;
  width: 100%;
  display: flex;
  /* overflow-x: auto; */
  overflow-y: hidden;
  overflow-x: scroll;
}

.landA a {
  /* border: 1px solid orange; */
  width: auto;
  height: inherit;
  margin-right: 10px;
  text-decoration: none;
}




.recentlyViewed {
  border: 1px solid gray;
  width: 100%;
  height: 120px;
  border-radius: 5px;
  padding-left: 30px;
}

.subRecently {
  /* border: 1px solid cyan; */
  width: 650px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.yourRecently {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 300;
  width: 600px;
}

.afterView {
  width: 650px;
  font-size: 13px;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 400;
}