main {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center; */

}

.wallpaper {
  width: 100%;
  height: 100%;
  /* position: relative; */
}

.backgroundWallpaper {
  width: 100%;
  height: 500px;
}

.productSectionA {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-color: #FFFFFF; */
}

/* .productsGrid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid red;
  width: 310px;
  height: 420px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
} */

.headline {
  /* border: 1px solid gray; */
  width: inherit;
  height: 30px;
  padding-left: 20px;
}

.gamePhoto {
  width: 150px;
  /* width: 100%; */
  /* height: 115px; */
  object-fit: contain;
}

h2 {
  font-size: 21px;
}

.deskTop {
  width: 270px;
  height: 300px;
  object-fit: cover;
}

.gadgetSmartphone {
  /* border: 1px solid green; */
  width: 270px;
  height: 170px;
}

.smart1 {
  width: 270px;
  height: 170px;
  object-fit: cover;
}

.gadgetSmartphoneName {
  /* border: 1px solid goldenrod; */
  width: 270px;
  height: 30px;
}

.gadgetSmartGrid {
  margin-top: 20px;
  /* border: 1px solid green; */
  width: 270px;
  height: 75px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5px;
}

.gadgetSmartitems {
  /* border: 1px solid blue; */
  width: 86px;
  height: 75px;
  overflow: hidden;
}

.gadgetTrio {
  width: 90px;
  height: 75px;
  object-fit: cover;
}

.gadgetSmartitemsName {
  /* border: 1px solid gold; */
  width: 270px;
  height: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5px;
}

.gadgetSmartitemsName div {
  /* border: 1px solid coral; */
  width: 86px;
  height: 30px;
}

.amazonGadgetLast {
  /* border: 1px solid violet; */
  width: 270px;
  height: 30px;
  display: flex;
  align-items: center;
}

.seeAnchor {
  color: #007185;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}

/* .handpickA {
  border: 1px solid purple;
  width: 270px;
  height: 115px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  row-gap: 10px;
} */

/* .handpickGrid {
  border: 1px solid black;
  width: 130px;
  height: 115px;
  background-color: lightpink;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.quad {
  width: 130px;
  height: 115px;
  object-fit: cover;
}

/* .tagAnchor {
  color: #000;
} */

.handpickAname {
  /* border: 1px solid gold; */
  width: 270px;
  height: 30px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

.handpickAname div {
  /* border: 1px solid coral; */
  width: 130px;
  height: 30px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.handpickBname {
  /* border: 1px solid gold; */
  width: 270px;
  height: 30px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

.handpickBname div {
  /* border: 1px solid coral; */
  width: 130px;
  height: 30px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.basketCard {
  /* border: 1px solid green; */
  width: 270px;
  height: 276px;
  margin-top: 22px;
  margin-bottom: 20px;
}

.basketImg {
  width: 270px;
  height: 276px;
  object-fit: cover;
}

.easterCard {
  /* border: 1px solid green; */
  width: 270px;
  height: 276px;
  margin-bottom: 20px;
}

.toyCard {
  /* border: 1px solid green; */
  width: 270px;
  height: 300px;
  margin-bottom: 20px;
  overflow: hidden;
}

.toyImg {
  width: 270px;
  height: 300px;
  object-fit: cover;
}

.topDealCard {
  /* border: 1px solid green; */
  width: 270px;
  height: 232px;
  overflow: hidden;
}

.topImg {
  width: 270px;
  height: 232px;
  object-fit: contain;
}

.topDescription {
  /* border: 1px solid gold; */
  width: 270px;
  height: 65px;
  margin-bottom: 21px;
}

.topDescription button {
  background-color: #CC0C39;
  border-radius: 2px;
  border: none;
  padding: 4px 6px;
  width: 90px;
  color: #fff;
  font-size: 12px;
}

.topDescription a {
  color: #CC0C39;
  font-size: 12px;
  font-weight: 500;
  /* border-radius: 2px; */
  /* border: none; */
  /* padding: 2px; */
  /* width: 90px; */
  /* color: #fff; */
}

.topDescription span {
  font-size: 13px;
  font-family: Arial, sans-serif;
  font-weight: 500;
  /* margin-left: 10px; */
}

/* ladscape after first grid */

.landscapeA, .landscapeB, .landscapeC, .landscapeE,  .landscapeF, .landscapeG {
  /* border: 1px solid red; */
  width: 97%;
  height: 280px;
  background-color: #FFFFFF;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.headlineA {
  /* border: 1px solid blue; */
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}

.landA {
  /* border: 1px solid green; */
  height: 210px;
  width: 100%;
  display: flex;
  /* overflow-x: auto; */
  overflow-y: hidden;
  overflow-x: scroll;
}

.books {
  max-height: 100%;
  max-width: none;
  flex-shrink: 0;
}

.landscapeD {
  /* border: 1px solid red; */
  width: 97%;
  height: 370px;
  background-color: #FFFFFF;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.dealLands {
  display: flex;
  /* overflow-y: hidden; */
  overflow-x: scroll;
  /* flex-direction: column; */
  /* border: 1px solid green; */
  height: 300px;
  width: 100%;
  padding-top: 15px;
}

.dealGrid {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 240px;
  height: 265px;
  margin-right: 10px;
}

.dealImg {
  overflow: hidden;
  width: inherit;
  height: 200px;
  /* border: 1px solid turquoise; */
}

.preteen, .sparkle, .ghostTown, .lolSuprise, .quakerOats, .bibleForKids, .power, .dexas, .flowers, .crochet, .catholic, .boysBoat, .losSecretos, .handMind, .dHunter, .uBook, .superCute, .fiveLies, .pantene{
  width: 240px;
  height: 200px;
  object-fit: contain;
}

.dealOffer {
  display: flex;
  width: inherit;
  height: 24px;
  margin-top: 4px;
  /* border: 1px solid turquoise; */
}

.offerButton {
  width: auto;
  height: inherit;
  margin-right: 3px;
  /* border: 1px solid gold; */
}

.offerButton a {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #CC0C39;
  border-radius: 3px;
  padding: 4px 8px;
}

.offerLink {
  width: auto;
  height: inherit;
  /* border: 1px solid gold; */
}

.offerLink a {
  text-decoration: none;
  color: #CC0C39;
  font-size: 12px;
}

.dealPrice {
  display: flex;
  width: inherit;
  height: 26px;
  margin-top: 4px;
  /* border: 1px solid turquoise; */
}

.discountedPrice {
  width: 30%;
  height: 56px;
  /* border: 1px solid #144141; */
  color: #0F1111;
  font-size: 17px;
  font-weight: 500;
  margin-right: 5px;
}

.actualPrice {
  width: 70%;
  height: inherit;
  /* border: 1px solid #144141; */
  color: #171717;
  font-size: 12px;
  font-weight: 400;
  color: #565959;
}

.dealName {
  width: inherit;
  height: 17px;
  margin-top: 4px;
  /* border: 1px solid turquoise; */
  overflow: hidden;
  display: flex;
  align-items: center;
}

.dealName a {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #171717;
  font-size: 13px;
  font-weight: 400;
}

.landAone {
  /* border: 1px solid green; */
  /* background-color: skyblue; */
  width: 100%;
  height: 210px;
  overflow: hidden;
}

.landAone a {
  /* border: 1px solid red; */
  width: auto;
  height: inherit;
}

.landA a {
  /* border: 1px solid orange; */
  width: auto;
  height: inherit;
  margin-right: 10px;
  text-decoration: none;
}

/* This is where third grid layout is */

.productSectionB, .productSectionC {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
  /* background-color: #FFFFFF; */
  /* padding: 15px; */
}

.productsGridB {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid red; */
  width: 310px;
  height: 420px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
}

.trackers {
  /* border: 1px solid red; */
  width: 270px;
  height: 300px;
  margin-bottom: 15px;
  overflow: hidden;
}

.trackersImg {
  width: 270px;
  height: 300px;
  object-fit: cover;
}

.merchandise {
  /* border: 1px solid red; */
  width: 270px;
  height: 250px;
}

.business, .furniture {
  /* border: 1px solid green; */
  width: 270px;
  height: 280px;
  margin-bottom: 20px;
  margin-top: 22px;
}

.lapEvery {
  width: 270px;
  height: 280px;
  object-fit: cover;
}



.landscapeH {
  /* border: 1px solid red; */
  width: 100%;
  height: 185px;
  background-color: #FFFFFF;
  padding-top: 40px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-bottom: 20px; */
}

.recentlyViewed {
  border: 1px solid gray;
  width: 100%;
  height: 120px;
  border-radius: 5px;
  padding-left: 30px;
}

.subRecently {
  /* border: 1px solid cyan; */
  width: 650px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.yourRecently {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 300;
  width: 600px;
}

.afterView {
  width: 650px;
  font-size: 13px;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 400;
}