.landscape {
  position: relative;
  width: 97%;
  height: auto;
  background-color: #ffffff;
  border: 2px solid gold;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px 20px;
}

.landscape-first {
  margin-top: calc(100vh - 90px);
  position: relative;
  z-index: 3;
}