.productsGrid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid red;
  width: 356px;
  height: 385px;
  /* margin-bottom: 20px; */
  padding: 20px 0 15px 0;
  background-color: #ffffff;
}

.handpickA {
  border: 1px solid purple;
  background-color: ;
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

.handpickGrid {
  border: 1px solid black;
  width: inherit;
  height: inherit;
  background-color: lightpink;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
